body {
  font-family: arial;
  font-weight: 500;
  margin: 0 20%;
  background-color: #7F8C8D;
}
.background {
  background: #EBEFF0;
}

/* Header */

.top {
  background: #2ECC71;
  border-bottom: 8px solid #27AE60;
  height: 450px;
}

.top h1 {
  text-align: left;
  padding-top: 320px;
  color: white;
  margin-left: 3%;
  font-size: 100px;
}

.navbar {
  color: white;
  background: #34495E;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  border-bottom: 8px solid #2C3E50;
  border-radius: 0;
}

.li {
  text-align: right;
  display: inline;
  margin: 10px;
}

ul {
  text-align: right;
  padding-right: : 40%;
}

/* Article body */

h2 {
  margin: 30px 3% ;
}

h3 {
  margin-top: 60px;
  font-size: 20px;
  margin: 0 5%;
  border-bottom: 1px solid #949498;
}

p {
  margin: 20px 9%;
  padding-top: 5px;
  font-size: 18px;

}

td {
  border: 1px solid #949498;
}

table {
  margin: 30px;
  border-collapse: collapse;
}

thead {
  background: #e6e6ea;
}

thead td {
  padding: 10px;
}

.c1 {
  padding: 30px;
}

.c2 {
  padding: 10px;
}

.c3 {
  padding: 30px;
}

button {
  background: blue;
  color: white;
  border: none;
}

/* Equation */
.equation {
  background: #949498;
  margin: 0 5%;
  padding: 25px 25px 25px 55px;
}

/* Picture */
img {
  margin: 0 5%;
  width: 90%;
  height: 150px;
}

ol {
  margin: 0 3%;
}

li>p {
  padding: -30px;
  list-style-type: none;
}

/* Posted */

.posted {
  color: #949498;
}

/* Comments */

.form-control {
  padding: 30px 12px;
  height: 50px;
  width: 80%;
  left: 200px;
}

.comment-box {
  padding: 5%;
  width: 100%;

}

/* Popout */

.popout {
  position: absolute;
  background: #EAEEEF;
  height: 500px;
  width: 500px;
  top: 20%;
  right: 0%;

}
.popout ul {
  list-style-type: none;
  margin-top: 20px;
}

.popout-li {
  text-align: left;
}

.small-li {
  text-align: left;
}
